In [1]:
import pandas as pd 

from Bio import SeqIO
from Bio.Seq import Seq

from tqdm import tqdm

import json

In [2]:
sn70 = '/home/eck/barcode/count/data/salmon_n70.sf'
sn71 = '/home/eck/barcode/count/data/salmon_n71.sf'
sn72 = '/home/eck/barcode/count/data/salmon_n72.sf'

In [3]:
df_n70 = pd.read_table(sn70)
df_n71 = pd.read_table(sn71)
df_n72 = pd.read_table(sn72)

In [6]:
def fasta_reader(fasta):
    """
    Reads a fasta file and returns a list of sequences
    
    :param fasta: the fasta file containing the sequences
    :return: A list of sequences.
    """
    n = []
    for record in SeqIO.parse(fasta , "fasta"):
        n.append(str(record.seq))
    return n

barcodes = fasta_reader('/mnt/c/Users/pc/Downloads/barcod/qc_processed_barcode_1/barcode.fasta')

In [18]:
df_n70['Barcodes'] = barcodes
df_n71['Barcodes'] = barcodes
df_n72['Barcodes'] = barcodes

In [12]:
df_n70.head()

,Name,Length,EffectiveLength,TPM,NumReads,Barcodes
0,1,48,48.0,0.0,0.0,GTTTAGATATACACTGGTTGACACACACACACACACACACTGACCATG
1,2,48,48.0,0.0,0.0,GTTTAGATATACACTGGTTGACACACACTGACTGACTGACTGACACCA
2,3,48,48.0,0.0,0.0,GTTTAGATATACACTGGTTGACACCAACTGACACACACACGTACTGAC
3,4,48,48.0,0.0,0.0,GTTTAGATATACACTGGTTGTGACACACGTACACACCAACCAACTGAC
4,5,48,48.0,0.0,0.0,GTTTAGATATACACTGGTTGTGACGTACCAACTGACTGACGTACACTG

In [86]:
counts_n70 = dict(zip(df_n70['Barcodes'], df_n70['NumReads']))
counts_n70x = {k: v for k, v in sorted(counts_n70.items(), key=lambda item: item[1], reverse= True)}

with open('salmon_barcode_counts_n70.json', 'w') as fp:
    json.dump(counts_n70x, fp)

In [87]:
counts_n71 = dict(zip(df_n71['Barcodes'], df_n71['NumReads']))
counts_n71x = {k: v for k, v in sorted(counts_n71.items(), key=lambda item: item[1], reverse= True)}

with open('salmon_barcode_counts_n71.json', 'w') as fp:
    json.dump(counts_n71x, fp)

In [88]:
counts_n72 = dict(zip(df_n72['Barcodes'], df_n72['NumReads']))
counts_n72x = {k: v for k, v in sorted(counts_n72.items(), key=lambda item: item[1], reverse= True)}

with open('salmon_barcode_counts_n72.json', 'w') as fp:
    json.dump(counts_n72x, fp)

In [30]:
def json_reader(file):
    with open(file, 'r') as fp:
        x = json.load(fp)
    return x


fn70 = json_reader('/home/eck/barcode/count/data/forward_barcode_counts_n70.json')
fn71 = json_reader('/home/eck/barcode/count/data/forward_barcode_counts_n71.json')
fn72 = json_reader('/home/eck/barcode/count/data/forward_barcode_counts_n72.json')

rn70 = json_reader('/home/eck/barcode/count/data/reverse_barcode_counts_n70.json')
rn71 = json_reader('/home/eck/barcode/count/data/reverse_barcode_counts_n71.json')
rn72 = json_reader('/home/eck/barcode/count/data/reverse_barcode_counts_n72.json')

In [70]:
sumn70 = {k: fn70.get(k, 0) + rn70.get(k, 0) for k in set(fn70) | set(rn70)}

In [74]:
sortedn70 = {k: v for k, v in sorted(sumn70.items(), key=lambda item: item[1], reverse= True)}

In [76]:
sumn71 = {k: fn71.get(k, 0) + rn71.get(k, 0) for k in set(fn71) | set(rn71)}

In [77]:
sortedn71 = {k: v for k, v in sorted(sumn71.items(), key=lambda item: item[1], reverse= True)}

In [78]:
sumn72 = {k: fn72.get(k, 0) + rn72.get(k, 0) for k in set(fn72) | set(rn72)}

In [79]:
sortedn72 = {k: v for k, v in sorted(sumn72.items(), key=lambda item: item[1], reverse= True)}

In [82]:
with open('barcode_counts_n70.json', 'w') as fp:
    json.dump(sortedn70, fp)

In [83]:
with open('barcode_counts_n71.json', 'w') as fp:
    json.dump(sortedn71, fp)

In [84]:
with open('barcode_counts_n72.json', 'w') as fp:
    json.dump(sortedn72, fp)